<div class="h-screen max-h-screen flex flex-col">
  <mat-toolbar color="primary" class="w-full">
    <span>showbridge</span>
    <span class="flex-auto"></span>
    <button mat-icon-button matTooltip="Download Config" (click)="downloadConfig()">
      <mat-icon>download</mat-icon>
    </button>
    @if (configService.pendingConfigIsValid()) {
      <button mat-icon-button matTooltip="Apply Config" (click)="applyConfig()">
        <mat-icon>save</mat-icon>
      </button>
    } @else {
      <div
        class="flex items-center justify-center text-red-500 hover:cursor-pointer"
        matTooltip="Config Errors"
      >
        <mat-icon>error</mat-icon>
      </div>
    }
  </mat-toolbar>
  <div class="flex-grow h-full overflow-hidden">
    @if (configService.currentlyShownConfig() && schemaService.schemasLoaded()) {
      <app-config [(config)]="configService.currentlyShownConfig"></app-config>
    } @else {
      <div class="flex items-center justify-center mt-28">
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
