/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer components {
  .context-menu-item {
    @apply p-2 py-0.5 text-left border border-gray-700 hover:bg-gray-500;
  }

  .context-menu {
    @apply flex flex-col bg-gray-600 border border-black border-solid;
  }
}

html,
body {
  height: 100%;
  background-color: rgb(30, 30, 30);
  overscroll-behavior: none !important;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
